/* AboutUs.css */

.page-container {
    /* Add styles for the page container */
    background-color: white;
  }
  
  .map-container {
    position: relative;
  }
  
  .map-container iframe {
    width: 100%;
    height: 500px;
  }
  
  .marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red; /* Marker color */
    font-size: 24px; /* Adjust the size of the icon */
  }
  