
*{
  font-family: cursive;
}

@keyframes dropDownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

.App-header {
  position: relative;
}

.headerimg img {
  width: 100%;
  height: 522px;
  object-fit: cover;
}

.header-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff; 
  animation: dropDownAnimation 1.0s ease-out;
}

.headertext {
  font-size: 50px;
  margin-bottom: 10px;
}

.header-paragraph {
  font-size: 25px;
  color: red;
  font-weight: 600;
}